@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@100&display=swap');


.my-hero {
    display: Flex;
    justify-content: center;
    height: 900px;
    position: relative;
    top: 0px;
    
}

.hero-left-card-1 {
    max-width: 400px;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    position: relative;
    /* z-index: 2; */

}

.facebook-image {
    position: absolute;
    top: 10px;
    left: 350px;
}

.linkedin-image {
    position: absolute;
    top: 10px;
    left: 15px;
}

.google-image {
    position: absolute;
    top: 10px;
    left: 180px;
}

#hero-icon-resize{
    width: 30px;
    height: 30px;
}

.my-hero-container {
    position: relative;
    min-width: 1500px;
    top: 0;
    
}
.hero-col-set-1 {
    width: 600px;
    display: flex;
    justify-content: center;
} 

.hero-col-set-2 {
    width: 600px;
    /* z-index: 2; */
}

.hero-right-col-container {
    width: 500px;
    position: relative;
    left: 65px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.general-padding {
    padding: 5px;
    padding-left: 15px;
    padding-right: 0;
}

.hero-right-card-1 {
    max-width: 400px;
    font-weight: bolder;
    font-size: 26px;
}

.hero-text-manipualte {
    font-family: 'Open Sans', sans-serif;
    color: black;
}


.font-tweak {
    font-size: 2rem;

}

.hero-left-col {
    display: flex;
    flex-direction: column;
    gap: 41px;
    position: relative;
    top: 120px;
    width: 600px;
    height: 400px;
}

.hero-test-study-btn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 30px;
}

.hero-right-col {
    position: relative;
    left: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 640px;
    width: 630px;
    background-color: white;
    top: 120px;
    justify-content: center;
}

.second-left-text-row {
    width: 550px;
}

#hero-left-move {
    /* z-index: 2; */
}

.second-left-text-row-text {
    font-size: 14px;
    color: white;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}

.input-1::placeholder, .input-2::placeholder{
    font-size: 17px;
    font-weight: 400;
}

.hero-email-div {
    width: 150px;
    height: 25px;
    position: relative;
    bottom: 20px;
}

div.hero-email-div > p {
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 600;
}

input::placeholder.input-2 {
    color: black;
}

.input-1, .input-2 {
    height: 54px;
    border-radius: 5px;
    background-color: #E9F0FA;
    border: 1px solid black;
}

.input-1 {
    position: relative;
    bottom: 20px;
}

.input-2 {
    position: relative;
    bottom: 30px;
}

.hero-line {
    width: 500px;
    position: relative;
    bottom: 30px;
}

.hero-left-line {
    width: 200px;
    height: 2px;
    position: relative;
    top: 26px;
    background-color:  gray;
}

.hero-right-line {
    width: 200px;
    height: 2px;
    position: relative;
    left: 300px;
    bottom: 16px;
    background-color: gray;
}

.hero-line-text {
    width: 100px;
    position: relative;
    top: 25%;
    left: 205px;
}

.hero-button-1 {
    width: 500px;
    height: 54px;
    border-radius: 10px;
    background-color: #2D9CDB;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    bottom: 30px;
}

#hero-email-password {
    width: 500px;
}

.hero-button-list-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    position: relative;
    bottom: 30px;
}

.hero-button-list-left {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 180px;
}

#hero-button-2 {
    height: 51px;
    width: 160px;
    border: none;
    background-color: white;
    border-radius: 9px;
    filter: drop-shadow(0 0 0.2rem grey);
    font-weight: 600;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.purple-box {
    background-color: inherit;
    width: 146px;
    border-radius: 9px;
    height: 50px;
    border: 1px white solid;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.blue-box {
    background-color: #2D9CDB;
    width: 157px;
    height: 50px;
    border-radius: 9px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}