.t-s-row {
    /* position: relative;
    top: 0; */
    display: flex;
    justify-content: center;
    height: 956px;
    background-color: white;
    position: relative;
    top: 0;
}

.t-s-bg {
    width: 1500px;
    display: flex;
    flex-direction: column;
    background-color: rgba(45, 156, 219, 0.03);
}

.t-s-text-1-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 65px;
    height: 180px;
    align-items: center;
}

.t-s-text-1 {
    width: 422px;
    height: 54px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    position: relative;
    top: 0;
    bottom: 100px;
}

.t-s-text-2 {
    width: 1006px;
    height: 88;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 32px;
    text-align: center;
}

.t-s-text-3 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: fit-content;
    position: relative;
    top: 130px;
}

.t-s-icon-control {
    width: 106px;
    height: 106px;
    border-radius: 50%;
    position: relative;
    left: 60px;
    top: 67px;
}

.t-s-font-control-1, .t-s-font-control-2 {
    width: 475px;
    height: 189px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    left: 67px;
    top: 50px;
}

.t-s-font-control-2 {
    width: 475px;
    height: 189px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    width: 600;
    position: relative;
}

.t-s-container-pack-2 {
    width: 599px;
    height: 498px;
    position: relative;
    top: 250px;
}

.t-s-container-left-1 {
    width: 599px;
    height: 498px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px #2D9CDB solid;
    
}

.t-s-container-lef-2 {
    width: 599px;
    height: 498px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.t-s-container-left-1 {
    border: 1px solid #2D9CDB;
    position: relative;
    
 
}

#t-s-left-shift {
    position: relative;
    left: 60px;
    width: fit-content;
}

.t-s-name-1  {
    position: relative;
    width: fit-content;
    left: 69px;
    top: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #2D9CDB;
}