.my-quote-section {
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* bottom: -590px; */
    right: 0;
    left: 0;
    z-index: 3;
    background-color: red;
}

.my-quote {
    position: absolute;
    width: 1248px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    box-shadow: 0px 1px 21px 0px #0000001C;
    z-index: 99;
    background-color: white;
    bottom: -150px;
}

.q-s-font-control-1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 32px;
    padding: 0;
    text-align: center;
}

.q-s-container-1 {
    width: 1040px;
    height: 99px;
    position: relative;
    top: 55px;
}

.q-s-font-control-2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
}