.c-c-row {
    width: 100%;
    height: 933px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
}

.c-c-bg {
    width: 1500px;
    height: 933px;
    display: flex;
    justify-content: center;
}

.c-c-list {
    width: 1200px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.c-c-items-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 1010px;
    height: 98px;

}

.c-c-container-icon {
    width: 69px;
    height: 69px;
    display: flex;
    position: relative;
    position: relative;
    left: 0;
    right: 0;
}

.c-c-icon-text-bg {
    display: flex;
    justify-content: center;
}

.c-c-icon-text {
    display: flex;
    flex-direction: row;
    gap: 34px;
}

#c-c-individual {
    width: 368px;
    height: 264px;
    border-radius: 11px;
}

#c-c-first-text-container {
    width: 1010px;
    height: 98px;
    display: flex;
    justify-content: center;
}

#c-c-first-text {
    width: 1500px;
    display: flex;
    justify-self: center;
}

.c-c-color-blue {
    background-color: #2D9CDB;
}

.c-c-internal-text-container {
    width: 209px;
    height: 88px;
}

#c-c-text-container-2 {
    width: 1126px;
    height: 99px;   
}

.more-button {
    width: 302px;
    height: 70px;
}

.c-c-font-control-1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: white;
}

.c-c-font-control-2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}

.c-c-font-control-3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: white;
}

.more-button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #2D9CDB;
    background-color: white;
}

.c-c-font-control-4 {
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}
