.n-s-img-container {
    height: 590px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 4800px;
    width: 100%;
}

.n-s-bg-img {
    width: 1500px;
    height: 590px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}
