.c-c-i-bg {
    width: 100%;
    height: 933px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 2230px;
    z-index: -2;
}

.c-c-img {
    width: 1500px;
    height: 933pxs;
}

.c-c-color-white {
    background-color: white;
}